<div class="projects bodyy">
    <!-- BOTONES -->
    <button class="add add6"><i class="bi bi-plus-lg"></i></button>
    <button class="edit edit20"><i class="bi bi-pencil-fill"></i></button>
    <button class="delete delete20"><i class="bi bi-x-lg"></i></button>
    <button class="edit edit21"><i class="bi bi-pencil-fill"></i></button>
    <button class="delete delete21"><i class="bi bi-x-lg"></i></button>
    <!-- FIN BOTONES -->
    <h1 class="titulopro">Projects</h1>
    <h4 class="titulopro">{{projects[0].name}}</h4>
        <p class="textpro">
        Group final project carried out during the course of the "Soy Henry" bootcamp.<br>
        It is an e-commerce or online petshop called "Developets" for the purchase of various products for pets. Built to be used as both user and administrator.<br>
        It includes searches, filters, favorites, shopping cart, payment gateway, comments and reviews section with their respective rating, admin dashboard with the functionalities
        relevant.<br>
        Technologies: Javascript | React | Redux | Node.js | HTML | CSS | Express | Sequelize | Postrgres |<br>
    <a href="https://github.com/alberto8812/Pet-store-ecommerce">Project repository</a></p>
    <h4 class="titulopro">{{projects[1].name}}</h4>
        <p class="textpro">Individual project developed during the "Soy Henry" Bootcamp course.<br>
    Development of a SPA (Single Page Application) using React for the Front End and Redux as state
    management. All components were developed with CSS without the use of external libraries.
    The SPA consumes data from an API through a Back End developed in Node.JS
    using Express, adding new functionality to the original API.<br>
    Some features of the project: Search cache, ordering and filters, creation form, etc.
    The theme of this application is about existing countries. <br>
    It has a landing page, a home where you can find the list of countries with the corresponding filters, a detail area where you can access the pertinent information of the country in question and, finally, a creation form to assign a new tourist activity to said country.<br>
    <a href="https://github.com/AilenDeSantis/PI-Countries">Project repository</a></p>
</div>
