<div class="skills bodyy">
    <button class="add add5"><i class="bi bi-plus-lg"></i></button>
    <h1 class="tituloski">Skills</h1>
    <!-- Poner por ej: Javascript, React, Redux, Node js, VSC, Git, GitHub, HTML, CSS
    SQL, Adobe Ligthroom, Adobe Premiere Pro, 
    SOFT: Comunicación eficaz, empatía, escucha activa, gestion del tiempo, planificación
    y organización, responsabilidad,   -->

    <h3 style="text-align: center">Hard Skills</h3>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="progress-title">HTML</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:95%; background:rgba(84, 83, 173, 0.798)">
                        <div class="progress-value">95%</div>
                    </div>
                </div>
                <h3 class="progress-title">CSS</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:80%; background:rgb(158, 156, 206)">
                        <div class="progress-value">80%</div>
                    </div>
                </div>
                <h3 class="progress-title">JAVASCRIPT</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:70%; background:#e75aea;">
                        <div class="progress-value">70%</div>
                    </div>
                </div>
                <h3 class="progress-title">BOOTSTRAP</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:35%; background:#ca4eed;">
                        <div class="progress-value">35%</div>
                    </div>
                </div>
                <h3 class="progress-title">REACT</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:45%; background:#0039f5;">
                        <div class="progress-value">45%</div>
                    </div>
                </div>
                <h3 class="progress-title">REDUX</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:45%; background:rgba(127, 81, 141, 0.798);">
                        <div class="progress-value">45%</div>
                    </div>
                </div>
                <h3 class="progress-title">NODE JS</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:55%; background:rgb(186, 156, 206);">
                        <div class="progress-value">55%</div>
                    </div>
                </div>
                <h3 class="progress-title">VISUAL STUDIO CODE</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:95%; background:rgb(222, 146, 179);">
                        <div class="progress-value">95%</div>
                    </div>
                </div>
                <h3 class="progress-title">GIT</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:85%; background:#fd9661;">
                        <div class="progress-value">85%</div>
                    </div>
                </div>
                <h3 class="progress-title">GITHUB</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:95%; background:#f95072;">
                        <div class="progress-value">95%</div>
                    </div>
                </div>
                <h3 class="progress-title">SQL</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:60%; background:#df0588;">
                        <div class="progress-value">60%</div>
                    </div>
                </div>
                <h3 class="progress-title">PHOTOGRAPHY</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:100%; background:#c3009d;">
                        <div class="progress-value">100%</div>
                    </div>
                </div>
                <h3 class="progress-title">ADOBE LIGHTROOM</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:80%; background:#9c11b5;">
                        <div class="progress-value">0%</div>
                    </div>
                </div>
                <h3 class="progress-title">ADOBE PREMIERE PRO</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:70%; background:#61226c;">
                        <div class="progress-value">70%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 style="text-align: center">Soft Skills</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="progress-title">Efficient Communication</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:80%; background:rgba(104, 48, 156, 0.802);">
                        <div class="progress-value">80%</div>
                    </div>
                </div>
                <h3 class="progress-title">Empathy</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:70%; background:rgba(77, 48, 156, 0.802);">
                        <div class="progress-value">70%</div>
                    </div>
                </div>
                <h3 class="progress-title">Active Listening</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:80%; background:rgba(68, 59, 201, 0.802);">
                        <div class="progress-value">80%</div>
                    </div>
                </div>
                <h3 class="progress-title">Time Management</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:90%; background:rgba(63, 153, 232, 0.802);">
                        <div class="progress-value">90%</div>
                    </div>
                </div>
                <h3 class="progress-title">Planning and Organization</h3>
                <div class="progress">
                    <div class="progress-bar" style="width:90%; background:rgba(121, 215, 249, 0.895);">
                        <div class="progress-value">90%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
